/* COMMONS */

body {
  background-color: #5c4ad3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin: 25px 0;
}

/* FORM */

form {
  padding: 22px 40px;
  width: 580px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
form .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .fields input,
form .fields select,
form .fields textarea {
  margin: 20px 0;
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px lightgray solid;
  font-weight: bold;
}

input::placeholder,
textarea::placeholder {
  color: lightgray;
}

form .fields select {
  -webkit-appearance: none;
  font-weight: bold;
}
form .fields textarea {
  resize: none;
  font-family: inherit;
}

.btn {
  background-color: #5c4ad3;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* SOCIAL MEDIA */

.social ul {
  display: flex;
  justify-content: center;
}
.social i {
  font-size: 42px;
  padding: 20px;
  color: white;
}
